{% extends "base.html" %}
{% block main %}
    <div class="output-block">
        <p><strong>Certificate of Deposit:</strong> Deposits of fixed-term issued by banks, providing a specified interest and maturity date; low risk with certificate negotiability unavailable.</p>
    </div>
    <div class="output-block">
        <p><strong>Commercial Paper:</strong> A kind of unsecured promissory notes that are issued by corporations to raise working capital. This has a usual maturity of up to 270 days.</p>
    </div>
    <div class="output-block">
        <p><strong>365-Day Bill Yield (percent):</strong> An annualized yield on a 365-day government treasury bill. This reflects the return as a percentage of face value.</p>
    </div>
    <div class="output-block">
        <p><strong>Loan:</strong> An amount borrowed from banks or other financial institutions at an agreed rate of interest. The amount is repayable over a defined term.</p>
    </div>
    <div class="output-block">
        <p><strong>Fixed Term Deposit (&gt;1 year):</strong> A deposit which has tenured longer than one year, in return offering more lucrative rates with reduced liquidity.</p>
    </div>
    <div class="output-block">
        <p><strong>Saving Deposit:</strong> A deposit account with banking that ascertains interest but makes provision for unlimited access to funds to allow depositors to save more.</p>
    </div>
    <div class="output-block">
        <p><strong>Call Rate (% per annum):</strong> The rate at which banks lend and borrow overnight interbank credit facilities for day-to-day liquidity requirements.</p>
    </div>
{% endblock %}